@import "../vars.scss";



//--Navbar----//
.navbar-default .navbar-nav > li > a{
  font-size: 1.3em;
  font-color:$primary-color;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}


.navbar{
  margin-bottom: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  border:0;
  background: transparent;
  .nav.navbar-nav.navbar-right{
    li{
      a{
        color:$backround-color;
      }

    }

  }

  &.scrolled {
    background: #ecf0f1;
    .nav.navbar-nav.navbar-right {
      li {
        a {
          color: #34495e;
        }

      }
    }
  }

  .navbar-brand{
    padding-top: 10px;
    padding-bottom: 10px;

    img{
      height: 30px;
    }
  }
  .navbar-header{
    .navbar-toggle{
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 6px;
    }
  }
}

.glyphicon-large{
  font-size: 1.2em;
}

//-----------------BANNER-----------///

.banner{
  padding:0;
  background-image: url("../assets/bannerimage.png");
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 0;
  height:600px;
  .text-banner{

    color: $backround-color;
    margin-top:100px;
    margin-right:auto;
    text-align: center;

    h1{
      font-size: 60px;
      font-weight: bold;

    }
    h3{
      font-weight: 100;
    }

  }

}

//------------Column1----------------/////
.column1{
  height:620px;
}
